.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #635bff, #282c34);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar .search-bar input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
